@import url('https://fonts.googleapis.com/css2?family=Victor+Mono:wght@100;400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow: hidden; */
}

html,
body,
#root {
  height: 100%;
}

body {
  font-family: 'Victor Mono', monospace;
}